@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .hidden-scrollbar {
    -ms-overflow-style: none; /* IE, Edge 対応 */
    scrollbar-width: none; /* Firefox 対応 */
  }
  .hidden-scrollbar::-webkit-scrollbar {
    /* Chrome, Safari 対応 */
    display: none;
  }

  .scroll-touch {
    -webkit-overflow-scrolling: touch;
  }

  .hideContent {
    max-height: 300px;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0, 1, 0, 1);
  }
  .minWidth-leftContent {
    min-width: 80px;
  }

  .minWidth-rightContent {
    min-width: 320px;
  }

  .maxWidth-SearchComponent {
    max-width: 600px;
  }

  .showContent {
    height: auto;
    max-height: 9999px;
    transition: all 0.5s cubic-bezier(1, 0, 1, 0);
  }

  .gradientWhite {
    background: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.5) 30%,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(255, 255, 255, 1)
    );
  }

  .font-NotoSansJP {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: ;
  }
  .font-Roboto {
    font-family: "Roboto", sans-serif;
    font-weight: ;
  }

  @media (max-width: 1279px) {
    .axisXCenterBreakpoint {
      justify-content: center;
      flex-direction: column;
    }
  }

  .chipBar {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  
  .chipBar--unpinned {
    -webkit-transform: translateY(-150%);
    transform: translateY(-150%);
  }
}
