@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .w-96 {
    width: 24rem;
  }

  .w-100 {
    width: 25rem;
  }

  .w-104 {
    width: 26rem;
  }

  .w-108 {
    width: 27rem;
  }

  .w-112 {
    width: 28rem;
  }

  .w-116 {
    width: 29rem;
  }

  .w-120 {
    width: 30rem;
  }

  .w-124 {
    width: 31rem;
  }

  .w-128 {
    width: 32rem;
  }

  .w-132 {
    width: 33rem;
  }

  .hidden-scrollbar {
    -ms-overflow-style: none; /* IE, Edge 対応 */
    scrollbar-width: none; /* Firefox 対応 */
  }
  .hidden-scrollbar::-webkit-scrollbar {
    /* Chrome, Safari 対応 */
    display: none;
  }

  .scroll-touch {
    -webkit-overflow-scrolling: touch;
  }

  .hideContent {
    max-height: 300px;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0, 1, 0, 1);
  }
  .minWidth-leftContent {
    min-width: 80px;
  }



  .minWidth-rightContent {
    min-width: 320px;
  }

  .maxWidth-SearchComponent {
    max-width: 600px;
  }

  .minWidth-Modal {
    min-width: 370px;
  }

  .showContent {
    height: auto;
    max-height: 9999px;
    transition: all 0.5s cubic-bezier(1, 0, 1, 0);
  }

  .minWidth-InputTag {
    min-width: 20px;
  }

  .gradientWhite {
    background: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.5) 30%,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(255, 255, 255, 1)
    );
  }

  .font-NotoSansJP {
    font-family: "Noto Sans JP", sans-serif;
    /* font-weight: ; */
  }
  .font-Roboto {
    font-family: "Roboto", sans-serif;
    /* font-weight: ; */
  }

  @media (max-width: 1279px) {
    .axisXCenterBreakpoint {
      justify-content: center;
      flex-direction: column;
    }
  }

  @media (max-width: 1024px) {
    .lg_NoneDisplay {
      /* width: 0px; */
      display: none;
    }
  }
  @media (min-width: 645px) {
    .sm_NoneDisplay {
      /* width: 0px; */
      display: none !important;
    }
  }
  @media (max-width: 645px) {
    .sm_max_NoneDisplay {
      /* width: 0px; */
      display: none !important;
    }
  }

  .visible_hover:hover {
    visibility: visible;
    background-color: aqua;
  }

  

  .chipBar {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  .chipBar--unpinned {
    -webkit-transform: translateY(-150%);
    transform: translateY(-150%);
  }
}
